body { background: #fa0722; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 22px; display: flex; }
.block-email-0 { color: #d307b4; font-size: 17px; margin-bottom: 5px; }
.block-uploader-1 { color: #4b7d4f; font-size: 15px; margin-bottom: 5px; }
.block-session-2 { color: #edad70; font-size: 14px; margin-bottom: 5px; }
.block-token-3 { color: #ad3130; font-size: 20px; margin-bottom: 5px; }
.block-search-4 { color: #f42aac; font-size: 21px; margin-bottom: 5px; }
.block-config-5 { color: #75e5d1; font-size: 20px; margin-bottom: 5px; }
.block-notify-6 { color: #cfb702; font-size: 19px; margin-bottom: 5px; }
.block-cluster-7 { color: #852e81; font-size: 13px; margin-bottom: 5px; }
.block-cluster-8 { color: #bed8c3; font-size: 16px; margin-bottom: 5px; }